<div class="app-flex-section bg-grey-50">
    <div class="app-section container">
        <h2 class="app-section-heading dark">Добре дошли в "Аз, готвачът"!</h2>
        <div class="app-section-content">
            Аз, готвачът е иновативна социална общност, където рецептите оживяват. Създаден от основателя на FITBG.net Media Group -
            Страхил Иванов, сайтът съществува, за да ви пренесе в един изцяло нов свят на сетивни и рецептивни усещания,
            за които ще се връщате при нас отново и отново. Сайтът е насочен изцяло към здравословното хранене - Избирайте
            от стотици вкусни и полезни рецепти и споделете вашите любими такива. Благодарение на вградения брояч получавате
            наготово всички хранителни стойности - калории, белтъчини, мазнини и въглехидрати за всяка порция. Здравословното
            хранене никога не е било по-лесно! Присъединете се към нашето семейство и станете част от историята на здравословните
            кулинарни феномени.
        </div>
        <div class="app-section-footer">
        </div>
    </div>
</div>
<div class="app-flex-section bg-grey-200">
    <div class="app-section container">
        <h2 class="app-section-heading dark">Аз, готвачът в числа</h2>
        <div class="app-section-content"></div>
    </div>
</div>

<div class="app-flex-section bg-grey-50">
    <div class="app-section container">
        <h2 class="app-section-heading dark">Нови рецепти</h2>
        <div class="app-section-content"></div>
    </div>
</div>

<div class="app-flex-section bg-grey-200">
    <div class="app-section container">
        <h2 class="app-section-heading dark">Препоръчани рецепти</h2>
        <div class="app-section-content"></div>
    </div>
</div>