<div class="app-flex-section bg-grey-50">
    <div class="app-section container">
        <h2 class="app-section-heading dark">Welcome to recepie store</h2>
        <div class="app-section-content mb-40">
            Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec rutrum congue leo eget malesuada. Donec rutrum congue
            leo eget malesuada. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis
            quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
        </div>
        <div class="app-section-footer ta-center">
            <a routerLink="/recepies" color="primary" md-raised-button>View Recepies</a>
        </div>
    </div>
</div>

<div class="app-flex-section bg-grey-200">
    <div class="app-section container">
        <h2 class="app-section-heading dark">Numbers says all</h2>
        <div class="app-section-content"></div>
    </div>
</div>

<div class="app-flex-section bg-grey-50">
    <div class="app-section container">
        <h2 class="app-section-heading dark">Latest Recepies</h2>
        <div class="app-section-content"></div>
    </div>
</div>