$grey-50: darken(#fff, 5%);
$grey-100: darken(#fff, 10%);
$grey-200: darken(#fff, 20%);
$grey-300: darken(#fff, 30%);
$grey-400: darken(#fff, 40%);
$grey-500: darken(#fff, 50%);
$grey-600: darken(#fff, 60%);
$grey-700: darken(#fff, 70%);
$grey-800: darken(#fff, 80%);

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    line-height: 1.4123;
    overflow-x: hidden;
    color: #333;
}
.container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;

    @include breakpoint(sm) { width: 748px; }
    @include breakpoint(md) { width: 972px; }
    @include breakpoint(lg) { width: 1180px; }
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.app-flex-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    &::before,
    &::after {
        position: absolute;
        content: '';
        pointer-events: none;
    }
}

.app-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    .app-section-heading {
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 40px;
        font-size: 24px;
        text-align: center;
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100px;
            height: 1px;
            margin-left: -50px;
        }

        &.dark:after { background: #333; }
        &.light:after { background: #fff; }
        
        &.dark  { color: #333; }
        &.light { color: #fff; }

        @include breakpoint(sm) { font-size: 30px; }
        @include breakpoint(md) { font-size: 36px; }
        @include breakpoint(lg) { font-size: 48px; }
    }
}

.app-form {
    width: 100%;
    margin: 0 auto;    
    @include breakpoint(sm) { width: calc(100vw/2); }
    @include breakpoint(md) { width: calc(100vw/3); }
    @include breakpoint(lg) { width: calc(100vw/4); }

}
